/client/global_packs/optional_data
/client/global_packs/required_data
/client/global_packs/required_resources
/server/global_packs/optional_data
/server/global_packs/required_data
/server/global_packs/required_resources
.DS_Store
*.jar
*.env
server/eula.txt
/server/libraries
server/.rcon-cli.yaml
/server/.mixin.out
server/.neoforge-manifest.json
/server/showdown
/server/world
/server/logs
server/log4j2.xml
server/banned-ips.json
server/banned-players.json
*.tmp
server/usercache.json
server/usernamecache.json
server/config/plasmovoice/server/voice_mutes.json
/server/config/chunky/tasks
server/usercache.json
*.code-workspace
*.disabled
/releases
server/run.bat
server/run.sh
server/server.properties
server/user_jvm_args.txt
server/user_jvm_args.txt
